*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: pink;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    border: 1.2px solid black;
    align-items: center;
    color: black;
    background: white;
}
.box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    width: 12%;
    /* border: 1px solid black; */
    padding-left: 14px;
}

.box2{
    width: 34%;
    display: flex;
    align-items: center;
    background: aliceblue;
    border-radius: 8px;  
}
.search{
    width: 85%;
}
.search input{
    width: 80%;
    margin-left: 10px;
    border: 0px solid aliceblue;
    border-radius: 5px;
    font-size: 1.3rem;
    background: aliceblue;
}
.fplogo{
    height: 33px;
    width: 75%;
    background-image: url("https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg");
    background-size: cover;
}
.header{
    height: 110px;
    width: 98%;
    margin-left: 1%;
    margin-top: 3.5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
}
.item{
    height: 67px;
    width: 10%;
    background-size: cover;
    text-align: center;
    background: white;
}
.main{
    height: 250px;
    width: 98%;
    margin-left: 1%;
    margin-top: 7px;
    
}
.hero{
    height: 250px;
    background-image: url("https://rukminim2.flixcart.com/fk-p-flap/3240/540/image/3adff397fcb6a866.jpg?q=60");
    background-size: cover;
}
.Box1{
    height: 380px;
    display: flex;
    justify-content: space-evenly;
    width: 98%;
    margin-left: 1%;
    margin-top: 7px;
    background: white;
}
.product{
    height: 380px;
    width: 18%;
    text-align: center;
    align-content: center;
    background-color: white;
}
.Product{
    height: 380px;
    width: 26%;
    background-size: cover;
    background-color: white;
}
.image{
    height: 310px;
    background-size: cover;
    text-align: center;
}
.Image{
    height: 380px;
    background-image: url("https://rukminim2.flixcart.com/fk-p-flap/380/380/image/ce3cf81edb760559.jpg?q=60");
    background-size: cover;
    
}
.Box2{
    height: 692px;
    display: flex;
    justify-content: space-evenly;
    width: 98%;
    margin-left: 1%;
    margin-top: 7px;
    background: white;
}
.container{
    height: 692px;
    width: 33%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.para{
    height: 30px;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 750;
    margin-left: 8px;
    margin-top: 3px;
}
.Block{
    height: 320px;
    width: 47%;
    /* display: flex;
    flex-wrap: wrap; */
    border: 1px solid pink;
    border-radius: 6px;
}
.Cbox{
    height: 692px;
    width: 100%;
    background-image: url("https://rukminim2.flixcart.com/www/1060/1460/promos/26/09/2023/6c3c5fe2-c236-4fa2-8d97-595e1e01da01.jpg?q=60");
    background-size: cover;
}
.block{
    background-size: cover;
}
.Block p{
    font-size: 1.1rem;
    margin-left: 8px;
    margin-bottom: 3px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(180, 81, 81);
    margin-top: 8px;
}
.info{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
    background-color: rgb(180, 81, 81);
}
